@font-face {
    font-family: westmount-light;
    src: url(../fonts/Westmount\ Light.ttf);
}
@font-face{
    font-family: westmount-ex-light;
    src: url(../fonts/Westmount\ ExtraLight.ttf);
}

@font-face{
    font-family: westmount-regular;
    src: url(../fonts/Westmount\ Regular.ttf);
}

body{
    background-color: #363333;
}
.wrapper-bg{
    background: url(../images/visual-darken.jpg) no-repeat center ;
    /* background-size: 2400px; */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.; */
}
.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}
.logo img{
    width: 14%; /* or any custom size */
    height: 14%; 
    /* object-fit: contain; */
}
nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    line-height: 40px;
}

nav ul {
    line-height: 65px;
    list-style: none;
    background: #00000081;
    /* overflow: hidden; */
    padding: 0;
    text-align: center;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}
nav.black ul {
    background: #FEEFEF;
    /* position: absolute; */
    text-align: right;
    
}

nav.special ul{
    background: #FEEFEF;
    /* position: absolute; */
    text-align: right;
}

nav.special ul li a{
    color: #D75053;
    /* position: absolute; */
    /* text-align: right; */
}
nav.special ul li a:hover{
    color: #D75053;
    /* position: absolute; */
    /* text-align: right; */
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-family: westmount-regular;
    
    color: #AFAFAF;
    transition: 0.5s;
    position: relative;
}
nav ul li a:hover{
    color: white;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    position: relative;
}

.container-p1{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}

/* Home Header */
header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 1;
}


/* Home Title */
.big-title{
    position: absolute;
    line-height: 4rem;
    top: calc(46% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #FEEFEF;
    font-family: westmount-light;
}
.big-title-comment{
    position: absolute;
    line-height: 4rem;
    top: calc(54% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #ecd1d1;
    font-family: westmount-ex-light;
}

.big-title-res{
    position: absolute;
    line-height: 4rem;
    top: calc(78% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #D75053;
    font-family: westmount-light;
}
.big-title-out.aos-animate{
    opacity: 0;
}

/* gallery */
.gallery-bg{
    background: url(../images/ramen-shop.jpg) no-repeat center;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* order */
.order-bg{
    background: url(../images/ramen-waiter.jpg) no-repeat center;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.order-lists{
    position: absolute;
    /* line-height: 4rem; */
    top: calc(35% - 2rem);
    width: 100%;
    text-align: center;
    /* font-size: 5rem; */
    font-weight: 600;
    color: #FEEFEF;
    font-family: westmount-light;
}
#datepicker {
    width: 10rem;
    text-align: center;
    padding-right: 1rem;
  }
/* .content{
    float: right;
    width: 300px;
    border: 15px solid green;
} */

/* contact */
.contact-bg{
    background: url(../images/ramen-company.jpg) no-repeat ;
    height: 100%;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

/* about */
.white-box { 
    width: auto; height: auto; margin-top: 50px;   
    background: rgb(255, 255, 255);
    padding: 30px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.box-pad{
    padding: 40px 40px 40px 40px;
}
.box-marginbot{
    margin-bottom: 80px;
}


.about{
    background: url(../images/visual.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    text-align: center;
    color: #151515;
    padding-left: 40px;
    padding-right: 40px;
}
.about-title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
}

.about-desc{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    padding-bottom: 20px;
}

.about-port{
    padding-bottom: 40px;
    width: 80%;
    margin: auto;
}

/* Service */

.service{
    background-color: #000;
    padding-top: 40px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}
.service-title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-bottom: 30px;
    color: #fff;
}
.cg-custom{
    padding-bottom: 60px;
}

/* Menu */
.menu-bg{
    background: url(../images/menu-bg.jpg) no-repeat center;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.remover{
    color: #FEEFEF;
}
.menu-lists{
    position: absolute;
    /* line-height: 4rem; */
    top: calc(28% - 2rem);
    width: 100%;
    text-align: center;
    /* font-size: 5rem; */
    font-weight: 600;
    color: #FEEFEF;
    font-family: westmount-light;
}
.menu-filters{
    position: absolute;
    /* line-height: 4rem; */
    top: calc(25% - 2rem);
    width: 100%;
    text-align: center;
    /* font-size: 5rem; */
    font-weight: 600;
    color: #FEEFEF;
    font-family: westmount-light;
    z-index: 86;
}
.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
  }
  
  .hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
  }
  
  .hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
  }
  
  .hover-content {
    position: relative;
    z-index: 99;
  }
  
.hover-1 img {
    width: 105%;
    position: absolute;
    top: 0;
    left: -5%;
    transition: all 0.3s;
  }
  
  .hover-1-content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    transition: all 0.4s;
  }
  
  .hover-1 .hover-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  
  .hover-1-description {
    transform: translateY(0.5rem);
    transition: all 0.4s;
    opacity: 0;
  }
  
  .hover-1:hover .hover-1-content {
    bottom: 2rem;
  }
  
  .hover-1:hover .hover-1-description {
    opacity: 1;
    transform: none;
  }
  
  .hover-1:hover img {
    left: 0;
  }
  
  .hover-1:hover .hover-overlay {
    opacity: 0;
  }  
  .hover-2 .hover-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
  }
  
  .hover-2-title {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 99;
    transition: all 0.3s;
  }
  
  .hover-2-description {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 0;
    text-align: center;
    z-index: 99;
    transition: all 0.3s;
  }
  
  .hover-2:hover .hover-2-title {
    transform: translateY(-1.5rem);
  }
  
  .hover-2:hover .hover-2-description {
    bottom: 0.5rem;
    opacity: 1;
  }
  
  .hover-2:hover .hover-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
  }
  
.btn-menu,
.btn-menu:hover,
.btn-menu:active,
.btn-menu:visited,
.btn-menu:focus {
    background-color: #D75053;
    border-color: #D75053;
    color: #FEEFEF;
}
.btn-menu-order,
.btn-menu-order:hover,
.btn-menu-order:active,
.btn-menu-order:visited,
.btn-menu-order:focus {
    background-color: #D75053;
    border-color: #D75053;
    color: #FEEFEF;
    width: 80px;
    margin-right: 12px;
    margin-bottom: 20px
}
.menu-title{
    position: absolute;
    line-height: 4rem;
    top: calc(18% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #FEEFEF;
    font-family: westmount-light;
}

.nav-special{
    position: absolute;
    line-height: 4rem;
    top: calc(11% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #AFAFAF;
    font-family: westmount-ex-light;
}

/* transaction */
.transaction-bg{
    background: url(../images/transaction.jpg) no-repeat center;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.transaction-window{ 
    /* margin-top: 20%;*/
    /* margin-bottom: 20%;  */
    position: absolute;
    line-height: 1.5rem;
    top: calc(20% - 2rem);
    width: 100%;
    text-align: center;
    /* font-size: 5rem; */
    /* font-weight: 600; */
    /* color: #FEEFEF; */
    font-family: westmount-light;
 }

/* .receip */

[data-aos="fade-out"] {
    opacity: 0;
    transition-property: opacity;
  }
[data-aos="fade-out"].aos-animate {
    opacity: 1;
}